{% extends 'base.html' %}


{% block title %} BlogHome {% endblock title %}
{% block style %}
<style>
  
</style>
{% endblock style %}
{% block js %}
<script> 
let pres = document.getElementsByClassName('pre');
Array.from(pres).forEach((element)=>{
element.innerHTML = element.innerText;
}) 
</script>
{% endblock js %}
{% block blogactive %} active {% endblock blogactive %}

{% block body %}
<div class="container my-4">
  <h3 class="text-success">Article by 4Code:</h3>
  {% for post in allpost %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row my-3 pe-4shadow-sm h-md-250 position-relative">
      <div class="col p-3 d-flex flex-column position-static">
        <strong class="d-inline-block mb-0 text-success">Article by {{post.author}}</strong>
        <h3 class="mb-1 ">{{post.title}}</h3>
        <p class="card-text mb-auto">
        <div class="pre">
            {{post.text|safe|truncatechars:200}}
        </div>
        </p>
        <div class='mt-1'>
          <a href="/blog/{{post.slug}}" role="button" class="btn btn-success">Continue reading...</a>
          <div class="mt-2 text-muted">
            {{post.timestamp}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock body %}